/* styles.css */
/* styles.css */
.bg-radial-gradient-redvelvet {
  position: absolute;
  z-index: -1;
  right: -100px;
  bottom: 0;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    40.25% 40.25% at 54.13% 39.65%,
    rgba(239, 47, 136, 0.180671) 0%,
    rgba(239, 47, 136, 0.0001) 100%,
    rgba(239, 47, 136, 0.0001) 100%
  );
  border-radius: 50%;
}

.bg-radial-gradient-banner2 {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -200px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    40.25% 40.25% at 54.13% 39.65%,
    rgba(239, 47, 136, 0.180671) 0%,
    rgba(239, 47, 136, 0.0001) 100%,
    rgba(239, 47, 136, 0.0001) 100%
  );
  border-radius: 50%;
}

.bg-radial-gradient-banner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    40.25% 40.25% at 54.13% 39.65%,
    rgba(239, 47, 136, 0.180671) 0%,
    rgba(239, 47, 136, 0.0001) 100%,
    rgba(239, 47, 136, 0.0001) 100%
  );
  border-radius: 50%;
}

.bg-radial-gradient-purple {
  position: absolute;
  z-index: 1;
  bottom: -250px;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    40.25% 40.25% at 54.13% 39.65%,
    rgba(102, 37, 202, 0.158517) 0%,
    rgba(102, 37, 202, 0.0001) 100%,
    rgba(239, 47, 136, 0.0001) 100%
  );
  border-radius: 50%;
}
